# git ignore file
_ReSharper.*
_TeamCity.*
*.suo
*.cache
*.Cache
*.user
*.orig
*.tmp
*.svclog
*.pdb
*__.g
*.tokens
obj/
bin/
log/*
packages/
contrib/packages/
testresults/
coverage/
data/*
!data/readme.txt
!data/markets.csv
!data/BrochureModels.csv
data/binary/*
!data/binary/readme.txt
data/Compilation/*
!data/testdata
data/testdata/*
!data/testdata/readme.txt
!data/testdata/CarsTestData
data/testdata/CarsTestData/*
!data/testdata/CarsTestData/readme.txt
version.txt
Harvested.wxs
setup/*
build/node_modules
contrib/IBM.XMS/Runtime/*
Packages.dgml
DimensionAsFeaturesMissing.csv
UpgradeLog.htm
