<!doctype html>
<html lang="en" ng-app="phonecatApp">
<head>
  <meta charset="utf-8">
  <title>Google Phone Gallery</title>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.js"></script>
    <script src="~/Controllers/AppLogic/app.js"></script>
    <script src="~/Controllers/AppLogic/controllers.js"></script>
   
</head>
<body>

    <div ng-view></div>    

</body>

</html>
