@{
    ViewBag.Title = "Index";
}

<h3>Index</h3>

<!doctype html>
<html>
<head>
    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Controllers/AppLogic/Season.js"></script>
</head>
<body>
    <div ng-app>
       <div ng-controller="seasonCtrl">
       <ul>
                 <li ng-repeat="sslockup in sslockups"><span class="label label-default">{{sslockup.StatusEName}}</span></li>
           
            </ul>
        </div>
        </div>
</body>
</html>

